<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Formulário Nodejs</title>
</head>

<body>

    <h2>Registrar</h2>
    <form action="/usuarios" method="POST">
        <input type="text" placeholder="Nome" name="nome">
        <input type="text" placeholder="Sobrenome" name="sobrenome">
        <button type="submit">Submit</button>
    </form>

</body>

</html>